@media (max-width: 1270px) {
    header {
        padding: 18px 4%;
        transition: .2s;
    }

    header.sticky {
        padding: 10px 4%;
        transition: .2s;
    }

    section {
        padding: 80px 4%;
        transition: .2s;
    }
}

@media (max-width: 990px) {
    .home {
        height: 85vh;
        background-image: none;
        text-align: center;
    }

    .newsletter form {
        display: inline-block;
    }

    #menu-icon {
        display: initial;
    }

    .navbar {
        position: absolute;
        top: -700px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .30s;
    }

    .navbar a {
        display: block;
        padding: 1.1rem;
        margin: 1.3rem;
        border-left: 2px solid var(--text-color);
    }

    .navbar a:hover {
        background: var(--main-color);
    }

    .navbar a::after {
        display: none;
    }

    .navbar.active {
        top: 100%;
    }

    .about {
        grid-template-columns: 1fr;
    }

    .about-img {
        text-align: center;
        margin-bottom: 30px;
    }

    .about-img img {
        max-width: 100%;
        width: 500px;
        height: auto;

    }

    .center h2 {
        font-size: 38px;
    }

    .contact {
        grid-template-columns: 1fr;
    }

    .contact-img {
        /* text-align: center;
        margin-bottom: 25px; */
        display: none;
    }

    .contact-form {
        order: 2;
    }

    .box img {
        max-width: 100%;
        width: 760px;
        height: auto;
    }

    footer p {
        font-size: 14px;
    }
}